<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides dir="rtl">
    <ion-slide *ngFor="let letter of alphabet$ | async">

      <ion-grid>
 
        <ion-row>
          <ion-col class="letter-yiddish-col">
            <div class="ion-text-center letter letter-yiddish">{{ letter.letterYiddish }}</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item-divider color="light"></ion-item-divider>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="letter-foreign-col">
            <div class="ion-text-center letter letter-foreign">{{ letter.foreignLetter }}</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item-divider color="light"></ion-item-divider>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-padding-bottom">
            <div class="ion-text-center letter-name">{{ letter.letterName }}</div>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-slide>
  </ion-slides>
</ion-content>
