.letter-yiddish {
    font-size: 44vh;
    line-height: 0.7em;
    font-family: 'Varela Round', sans-serif;
}

.letter-foreign {
    font-size: 18vh;
    line-height: 1em;
}

.letter-name {
    font-size: 8vh;
    line-height: 2em;
}

.letter-yiddish-col {
    margin-bottom: 12vh;
}

.letter-foreign-col {
    margin-bottom: 5vh;
}

ion-item-divider {
    width: 100vw;
    min-height: 2px;
}