<ion-app>
  <ion-menu contentId="content1" side="start" [swipeGesture]="false" *transloco="let t; read: 'menu'">
    <ion-content>
      <ion-list>

        <ion-menu-toggle>

          <ion-item [class]="nav.class" [routerLink]="[nav.url]" routerLinkActive="active" *ngFor="let nav of navigation">
              <fa-icon color="primary" slot="end" [icon]="['fas', nav.icon]"></fa-icon>
            <ion-label color="primary">{{ t(nav.label) }}</ion-label>
          </ion-item>

        </ion-menu-toggle>

      </ion-list>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
