<ion-app>
  <ion-menu contentId="content1" side="start" [swipeGesture]="false" *transloco="let t">
    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <a class="a-no-underline" [routerLink]="[nav.url]" *ngFor="let nav of navigation">
          <ion-item [class]="nav.class" routerLinkActive="active">

              <fa-icon color="primary" slot="end" [icon]="['fas', nav.icon]"></fa-icon>
            <ion-label color="primary">{{ t(nav.label) }}</ion-label>

          </ion-item>
        </a>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
