.letters-yiddish {
    font-size: 44vh;
    line-height: 0.7em;
    font-family: 'Varela Round', sans-serif;
}

.letters-english {
    font-size: 18vh;
    line-height: 1em;
}

.letters-yiddish-col {
    margin-bottom: 12vh;
}

.letters-english-col {
    margin-bottom: 5vh;
}