.letters-yiddish-col {
    margin-bottom: 12vh;

    .letters-yiddish {
      font-size: 44vh;
      line-height: 1em;
  }
}

.success {
  background-color: #0b0;
}

.failed {
  background-color: #97133f;
}

.no-wrap {
  flex-wrap: nowrap;
}

.letter {
  font-size: 10vw;
  border: 1px solid;
  border-radius: 50%;
  padding: 12px;
  line-height: 12vw;
  text-align: center;
  padding-top: 6px;
}

ion-grid {
  height: calc(100vh - 100px);
}

ion-slides {
  height: calc(100vh - 56px);
}

.indicator {
  position: absolute;
  right: 12px;
  top: calc(56px / 2 - 18px /2);
  z-index: 99;
  color: #82825d;
}

.swiper-container {
  height: 90vh;
}
