<ion-header>
  <app-toolbar></app-toolbar>
  <div class="indicator" *ngIf="sliders">{{this.currentSlide + 1 | number}} / {{sliders.length | json}}</div>
</ion-header>

<ion-content>
  <div class="play-alert alert-success" *ngIf="isSuccess === 2" [@inOutAnimation]></div>
  <div class="play-alert alert-failed" *ngIf="isSuccess === 1" [@inOutAnimation]></div>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let test of data$ | async">

        <ion-grid>

          <ion-row class="no-wrap">
            <ion-col class="letters-yiddish-col">
              <div class="ion-text-center letters letters-yiddish">{{ test.yiddishLetter }}</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col *ngFor="let possibleLetter of test.possibleLetters">
              <div [class]="isPicked(possibleLetter) ? 'active letter' : 'letter'" (click)="testLetter(possibleLetter)">{{ possibleLetter }}</div>
            </ion-col>
          </ion-row>

        </ion-grid>

      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</ion-content>
