<ion-header>
  <app-toolbar></app-toolbar>
  <div class="indicator" *ngIf="sliders">{{this.currentSlide + 1 | number}} / {{sliders.length | json}}</div>
</ion-header>

<ion-content>

  <div class="swiper-container-t">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let test of data$ | async">

        <ion-grid>

          <ion-row>
            <ion-col class="letters-yiddish-col">
              <div class="ion-text-center letters letters-yiddish">{{ test.yiddishLetter }}</div>
            </ion-col>
          </ion-row>

          <ion-row class="no-wrap">
            <ion-col *ngFor="let possibleLetter of test.possibleLetters; let i = index">
              <div [class]="test.selectedIndex === i ? isSuccess + ' letter' : ' letter'" (click)="testLetter(possibleLetter); test.selectedIndex = i">{{ possibleLetter }}</div>
            </ion-col>
          </ion-row>

        </ion-grid>

      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>

</ion-content>
