<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-slides [pager]="true" dir="rtl">
    <ion-slide *ngFor="let test of tests$ | async">

      <ion-grid>
 
        <ion-row>
          <ion-col class="letters-yiddish-col">
            <div class="ion-text-center letters letters-yiddish">{{ test.yiddishLetter }}</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="possible-english-letters-col">
            <div class="letter" *ngFor="let possibleLetter of possibleLetters$ | async">{{ possibleLetter }}</div>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-slide>
  </ion-slides>
</ion-content>
