<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-list>
    <ion-item lines="inset">
      <ion-icon class="ion-padding" name="language-outline"></ion-icon>
      <ion-label>{{ t('settings.languageTitle') }}</ion-label>
      <ion-select value="{{lang}}" okText="{{ t('general.confirm') }}" cancelText="{{ t('settings.dismiss') }}" (ionChange)="changeLang($event)">
        <ion-select-option *ngFor="let option of langOptions" [value]="option.lang">{{ option.text }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
