<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button class="go-to-alphabet-btn" expand="block" (click)="goToPage('/alphabet')">{{ 'startStudyAlphabetButton' | translate }}</ion-button>
  </div>

  <div class="ion-padding">
    <ion-button class="go-to-test-letters-btn" expand="block" (click)="goToPage('/test-letters')">{{ 'goTotestLettersButton' | translate }}</ion-button>
  </div>
</ion-content>
