.letter-yiddish {
    font-size: 46vh;
    line-height: 0.7em;
    font-family: 'Varela Round', sans-serif;
}

.letter-english {
    font-size: 18vh;
    line-height: 1em;
}

.letter-name {
    font-size: 6vh;
}

.ion-margin-bottom {
    margin-bottom: 10vh;
}