.letter-yiddish-col {
  margin-bottom: 3vh;

    .letter-yiddish {
      font-size: 26vh;
      line-height: 1em;
  }
}

.letter-foreign-col {

  .letter-foreign {
    font-size: 16vh;
    line-height: 1.2em;
}
}

.letter-name-col {

  .letter-name {
    font-size: 7vh;
    line-height: 1.4em;
  }
}

.desc {
  color: #82825d;
  text-align: center;
}

ion-grid {
  height: 100%;
}

ion-item-divider {
    min-height: 0;
}

.swiper-container {
  height: 90vh;
}
