.letter-yiddish {
    font-size: 30vh;
    line-height: 0.7em;
    font-family: 'Varela Round', sans-serif;
}

.letter-foreign {
    font-size: 16vh;
    line-height: 1em;
}

.letter-name {
    font-size: 8vh;
    line-height: 2em;
}

.letter-yiddish-col {
    margin-bottom: 6vh;
}

.desc {
  color: #ccc;
}

ion-grid {
  height: 100%;
}

ion-slides {
  height: 90vh;
}

ion-item-divider {
    width: 100vw;
    min-height: 2px;
}
