<ion-header>
  <app-toolbar></app-toolbar>
  <div class="indicator" *ngIf="slidersLength">{{currentSlide | increaseByOne}} / {{slidersLength | json}}</div>
</ion-header>

<ion-content *transloco="let t">

  <div class="swiper-container-a">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let letter of alphabet$ | async">

        <ion-grid>

          <ion-row>
            <ion-col>
              <ion-item-divider color="dark"></ion-item-divider>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="letter-yiddish-col">
              <div class="ion-text-center letter letter-yiddish">{{ letter.yiddishLetter }}</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="desc">{{ t('alphabet.yiddishCharacter') }}</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item-divider color="dark"></ion-item-divider>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="letter-foreign-col">
              <div class="ion-text-center letter letter-foreign">{{ letter.transcribedLetter }}</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="desc">{{ t('alphabet.transcription') }}</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item-divider color="dark"></ion-item-divider>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="letter-transcribed-name-col">
              <div class="ion-text-center letter-transcribed-name">{{ letter.transcribedLetterName }}</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="letter-name-col">
              <div class="ion-text-center letter-name">{{ letter.letterName }}</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="desc">{{ t('alphabet.letterName') }}</div>
            </ion-col>
          </ion-row>

        </ion-grid>

      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</ion-content>
